ul {
  padding: 0;
}

@-webkit-keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#fadeIn {
  -webkit-animation: FADE .5s; /* Safari 4+ */
  -moz-animation:    FADE .5s; /* Fx 5+ */
  -o-animation:      FADE .5s; /* Opera 12+ */
  animation:         FADE .5s; /* IE 10+, Fx 29+ */
}


@keyframes FADE_OUT {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

#fadeOut {
  -webkit-animation: FADE_OUT .75s; /* Safari 4+ */
  -moz-animation:    FADE_OUT .75s; /* Fx 5+ */
  -o-animation:      FADE_OUT .75s; /* Opera 12+ */
  animation:         FADE_OUT .75s; /* IE 10+, Fx 29+ */
}